#carouselExampleIndicators {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

img {
    width: 50%;
    height: 100%;
}

form {
    padding: 1rem;
}

body {
    font-family: sans-serif;
}

section {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
    text-align: center;
}

#main-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

h1 {
    text-align: center;
}